<?xml version='1.0' encoding='utf-8'?>
<widget id="com.deep.chit" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iChit</name>
    <description>
        Chits made a child's play.
    </description>
    <author email="anandhadeepak@gmail.com" href="https://github.com/paramadeep/chit">
        Deepak P
      </author>
      <icon src="www/img/rupee.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>
