div.header {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 30%; 
    margin-top: -100px;
    margin-left: -100px;
    background: url("../img/chit.png");
    background-size: 100%;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.buttons {
    position:absolute;
    top: 30%;
    margin-top: 100px;
    margin-left: -100px;
    left: 50%;
}

.buttons a {
    width: 220px;
}

.buttons a:last-child{
    margin-top: 20px;
}

#landing-page {
height: 100%;
}